<div class="bg-warning mb-2 ">
<div class="p-4 mx-auto" style="width: 150px;">
    <h4>Superheroes</h4>
</div>
</div>

<div class="container">
    <h4>Enter your heroic information.</h4>

    <form action="/heroes" method="post" >
        <div class="mb-3">
            <label for="name" class="form-label">Your name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="integer" class="form-control" id="age" name="age">
        </div>
        <div class="mb-3">
            <label for="power" class="form-label">Special power</label>
            <input type="text" class="form-control" id="power" name="power">
        </div>
        <div class="mb-3">
            <label for="weak" class="form-label">Weakness</label>
            <input type="text" class="form-control" id="weakness" name="weakness">
        </div>

        <button type="submit" class="btn btn-warning mt-3" >Submit</button>
    </form>
<div class="bg-warning mb-2 ">
    <div class="p-4 mx-auto" style="width: 150px;">
        <b>Superheroes</b>
        <b>machayoephraim@gmail.com</b>
        <b>Thank you</b>
    </div>
</div>
{{> layout.hbs}}













